@font-face {
  font-family: 'Lato-Heavy';
  font-weight: 900;
  font-style: normal;
  src:
    url(../fonts/Lato-Heavy.woff2) format('woff2'),
    url(../fonts/Lato-Heavy.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Regular';
  font-weight: 400;
  font-style: normal;
  src:
    url(../fonts/Lato-Regular.woff2) format('woff2'),
    url(../fonts/Lato-Regular.woff) format('woff');
  font-display: swap;
}


@font-face {
  font-family: 'Montserrat-Regular';
  font-weight: 400;
  font-style: normal;
  src:
    url(../fonts/Montserrat-Regular.woff2) format('woff2'),
    url(../fonts/Montserrat-Regular.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Bold';
  font-weight: 700;
  font-style: normal;
  src:
    url(../fonts/Montserrat-Bold.woff2) format('woff2'),
    url(../fonts/Montserrat-Bold.woff) format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  font-weight: 800;
  font-style: normal;
  src:
    url(../fonts/Montserrat-ExtraBold.woff2) format('woff2'),
    url(../fonts/Montserrat-ExtraBold.woff) format('woff');
  font-display: swap;
}


@font-face {
  font-family: 'Roboto-Black';
  font-weight: 400;
  font-style: normal;
  src:
    url(../fonts/Roboto-Black.woff2) format('woff2'),
    url(../fonts/Roboto-Black.woff) format('woff');
  font-display: swap;
}