.header {
  font-size: 14px;
  line-height: 1.2;
  box-shadow: 0px 5px 20px rgba(28, 28, 28, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: $btn-text;

  &__contacts {
    padding: 16px 0;
    border-bottom: 1px solid #DEDEFF;
  }

  &__navigation {
    padding: 16px 0;
  }

}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__link {
    display: block;
    width: 16px;
    height: 16px;
    object-fit: contain;
    transition: filter 0.3s;
    &:hover{
      filter: invert(42%) sepia(18%) saturate(2006%) hue-rotate(314deg) brightness(101%) contrast(103%);
    }
  }
}

.contacts {
  &__number {
    &:not(:last-child) {
      margin-right: 28px;
    }
  }

  &__link {
    position: relative;
    padding-left: 28px;
    font-family: 'Roboto-Black';

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
    }

    &--phone {
      &::before {
        background-image: url(../images/icons/phone.png);
      }
    }

    &--whatsapp {
      &::before {
        background-image: url(../images/icons/whatsapp.png);
      }
    }
  }
}


.nav {
  font-family: 'Montserrat-Bold';

  &__item {
    &:not(:last-child) {
      margin-right: 32px;
    }
  }

  &__callback {
    padding: 14px 0;
    font-size: 16px;
    line-height: 1.25;
  }
}