.hero {
  padding-top: 130px;

  &__inner {
    padding-left: 15px;
    @include rmin($r-xl) {
      margin-left: calc((100vw - 1200px) / 2);
    }

    @include rmin($r-md) {
      display: flex;
    }
  }

  &__content {
    max-width: 560px;
    align-self: center;
    justify-self: center;
    padding: 20px 0 0;
  }

  &__slogan {
    font-family: 'Lato-Regular';
    color: $t-secondary;
    margin-bottom: 28px;
  }

  &__title {
    font-size: 56px;
    line-height: 1.3;
    margin-bottom: 52px;
  }

  &__bg {
    max-width: 605px;
    margin-left: auto;
  }
}